---
import Layout        from '../layouts/Layout.astro';
import Navbar        from '../components/Navbar.astro';
import Hero          from '../components/Hero.astro';
import NegociosChips from '../components/NegociosChips.astro';
import Marquee       from '../components/Marquee.astro';
import BentoFeatures    from '../components/BentoFeatures.astro';
import PagoUnicoStrip   from '../components/PagoUnicoStrip.astro';
import VideoCards       from '../components/VideoCards.astro';
import PrecioSection from '../components/PrecioSection.astro';
import CtaFinal      from '../components/CtaFinal.astro';
import Footer        from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <NegociosChips />
    <Marquee />
    <BentoFeatures />
    <PagoUnicoStrip />
    <VideoCards />
    <PrecioSection />
    <CtaFinal />
  </main>
  <Footer />
</Layout>
